* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.free-shipping {
    padding: 0.5%;
    background: linear-gradient(to right, #8c1d11, #000000, #8c1d11);
    color: #ffffff;
    text-align: center;
    font-size: large;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0; /* Ensure it sticks at the top of the viewport */
    z-index: 999;
    padding: 0.7% 0.9%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.options {
    display: inline-block;
    justify-content: space-between;
    padding: 0.5% 1.2%;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    border-radius: 6px;
    margin: 0 1.5%;
}

.options:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px lightgray;
}

#input {
    padding-left: 1%;
    height: 30px;
    border-radius: 6px;
    margin-left: 2%;
}

.navbar > span {
    cursor: pointer;
    padding-left: 6px;
}

.top {
    display: flex;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("https://static01.nyt.com/images/2021/03/30/multimedia/28xp-shoes-09/28xp-shoes-09-superJumbo.jpg");
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.text {
    width: 60%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    border-radius: 20px;
    padding: 3%; /* Correct syntax for the padding */
}

.text h2,
.text p {
    padding: 3%;
}
